<section class="container mb-5">
  <div
    style="margin-top: 60px;"
    class="text-center"
    *ngIf="!wishlistItemsDetailed.length"
  >
    <img
      src="https://images-folder-bucket.s3.ap-south-1.amazonaws.com/empty-cart1.png"
    />
    <h4 class="text-muted">Wishlist is empty</h4>
  </div>

  <div class="row" *ngIf="wishlistItemsDetailed.length > 0">
    <div
      class="col-sm-6 col-lg-3 mb-lg-0 mt-5"
      *ngFor="let wishlistItem of wishlistItemsDetailed; let i = index"
    >
      <div class="card position-relative">
        <div
          class="view zoom overlay"
          [routerLink]="'/products-list/' + wishlistItem.product.id"
        >
          <img
            class="card-img-top w-100"
            height="300"
            [src]="(wishlistItem?.product?.images)[0]"
            alt="Sample"
          />
          <a>
            <div class="mask">
              <img
                height="300"
                class="card-img-top w-100"
                [src]="(wishlistItem?.product?.images)[0]"
              />
              <div class="mask rgba-black-slight"></div>
            </div>
          </a>
        </div>

        <div class="card-body text-center pt-4">
          <h5>{{ wishlistItem?.product?.shirtType }}</h5>
          <p class="mb-2 text-muted text-uppercase small">
            {{ wishlistItem?.product?.brand }}
          </p>
          <hr />
          <p>
            <span class="mr-1">
              <strong>{{ wishlistItem?.product?.price | currency }}</strong>
            </span>
          </p>
          <button
            (click)="triggerModal(modalData)"
            class="btn btn-block text-center"
          >
            Move to Bag
          </button>
        </div>
        <a
          (click)="deleteWishlistItem(wishlistItem)"
          class="float-right position-absolute top-0 end-0"
          data-toggle="tooltip"
          data-placement="top"
          title="Remove from wishlist"
        >
          <i class="fa fa-close"></i>
        </a>
      </div>

      <ng-template #modalData let-modal>
        <div class="modal-header">
          <h5 class="modal-title">
            Select size for {{ wishlistItem.product.brand }}
          </h5>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" style="color: rgb(112, 111, 111);">
          <button
            *ngFor="
              let shirtSize of wishlistItem.product.shirtSize;
              let ind = index
            "
            [ngStyle]="{
              'background-color':
                selectedShirtSize === shirtSize.size ? '#D3D3D3' : ''
            }"
            type="button"
            class="btn btn-circular ml-2"
            style="border-color: black; font-weight: bold; color: black;"
            (click)="getSelectedShirtSize(wishlistItem.product, ind)"
          >
            {{ shirtSize.size }}
          </button>
        </div>
        <div class="modal-footer">
          <button
            (click)="addToCart(wishlistItem); modal.close('Save click')"
            class="btn btn-block"
          >
            Done
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</section>
