<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading">
  <div class="row mt-5 padding-small-screen">
    <div class="col-lg-3 offset-lg-6 col-md-4 offset-md-3">
      <input
        type="text"
        class="form-control"
        id="textSearchText"
        name="textSearch"
        placeholder="Search for your product..."
        [(ngModel)]="searchText"
      />
    </div>
    <div class="col-lg-3 col-md-5 margin-top">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" id="searchField" for="drpFilterBy">
            Sort by
          </label>
        </div>
        <select
          class="form-control"
          id="drpFilterBy"
          [(ngModel)]="sortBy"
          aria-describedby="searchField"
        >
          <option value="recommended">Recommended</option>
          <option value="brand">Brand</option>
          <option value="price">
            Low to High Price
          </option>
          <option value="popularity">
            Popularity
          </option>
          <option value="betterDiscount">
            Better Discount
          </option>
          <option value="customerRating">
            Customer Rating
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-3 col-lg-2 col d-md-block d-none align-items-center">
      <h4>Filters</h4>

      <div>
        <h6>Gender</h6>
        <ul>
          <li class="form-check" *ngFor="let gender of genders">
            <input
              class="form-check-input"
              type="radio"
              name="list_name"
              value="{{ gender.name }}"
              (change)="onItemChange($event.target.value, null, 'gender')"
            />
            <label class="form-check-label">
              {{ gender.name }}
            </label>
          </li>
        </ul>
      </div>

      <div class="mb-5">
        <div class="form-check" *ngFor="let brand of brands">
          <input
            class="form-check-input"
            [value]="brand.name"
            (change)="
              onItemChange($event.target.value, $event.target.checked, 'brand')
            "
            class="form-check-input"
            type="checkbox"
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            {{ brand.name }}
          </label>
        </div>
      </div>

      <div class="mb-5">
        <div class="form-check" *ngFor="let color of colors">
          <input
            class="form-check-input"
            value="{{ color.name }}"
            (change)="
              onItemChange($event.target.value, $event.target.checked, 'color')
            "
            class="form-check-input"
            type="checkbox"
            id="flexCheckDefault1"
          />
          <label class="form-check-label" for="flexCheckDefault1">
            {{ color.name }}
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-lg-10">
      <div class="row">
        <div
          class="col-lg-3 col-sm-6 mb-5"
          *ngFor="
            let product of selectedDataToDisplay
              | filter: searchText
              | sort: true:sortDirection:sortBy
          "
        >
          <div class="card" [routerLink]="'/products-list/' + product?.id">
            <img
              class="card-img-top"
              [src]="product.images[0]"
              [alt]="product?.brand"
            />
            <div class="card-body text-center">
              <h2 class="h2">
                {{ product?.brand }}
              </h2>
              <div class="px-2">
                <p class="p-text">
                  {{ product?.shirtType }}
                </p>
                <div class="card-text marketing-tag mb-1 mt-2">
                  {{ product?.price | currency }}
                </div>
              </div>
            </div>
            <button
              class="btn btn-block text-center"
              (click)="_addToWishlist(product?.id)"
            >
              Add To wishlist
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [checked] -->
