<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading">
  <div class="row mt-5">
    <div class="col-md-3 offset-md-6">
      <input
        type="text"
        class="form-control"
        id="textSearchText"
        name="textSearch"
        placeholder="Search for your product..."
        [(ngModel)]="searchText"
      />
    </div>
    <div class="col-md-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" id="searchField" for="drpFilterBy">
            Sort by
          </label>
        </div>
        <select
          class="form-control"
          id="drpFilterBy"
          [(ngModel)]="sortBy"
          aria-describedby="searchField"
        >
          <option value="name">Name</option>
          <option value="price">
            Low to High Price
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-2 d-md-block d-none">
      <h5>Filters</h5>
    </div>

    <div class="col-md-10">
      <div class="row">
        <div
          class="col-lg-3 col-md-6 mb-4"
          *ngFor="
            let product of products
              | filter: searchText
              | sort: true:sortDirection:sortBy
          "
        >
          <div class="card" [routerLink]="'/products-list/' + product?.id">
            <img
              class="card-img-top"
              [src]="product.images[0]"
              [alt]="product?.name"
            />
            <div class="card-body text-center">
              <h2 class="h2">
                {{ product?.name }}
              </h2>
              <div class="px-2">
                <p class="p-text">
                  {{ product?.shirtType }}
                </p>
                <div class="card-text marketing-tag mb-1 mt-2">
                  {{ product?.price | currency }}
                </div>
              </div>
            </div>
            <button
              class="btn btn-dark text-center"
              (click)="_addToWishlist(product?.id)"
            >
              Add To wishlist
            </button>
            <!-- <button
                class="btn btn-dark"
                (click)="_removeFromWishlist(product?.id)"
              >
                Remove From wishlist
              </button> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
