<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading">
  <div class="text-center">
    <h2>Products List</h2>
  </div>
  <div class="row">
    <div class="col-md-2 d-md-block d-none">
      <h5>Filters</h5>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4" *ngFor="let product of products">
          <div class="card" [routerLink]="'/products-list/' + product?.id">
            <img
              class="card-img-top"
              [src]="product.images[0]"
              [alt]="product.name"
            />
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">
                {{ product.processor }}
              </p>
              <a class="btn btn-primary">Go to id {{ product.id }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
