.productDetails {
  width: 100%;
  height: 100%;
}

.mainSection {
  width: 80%;
  align-content: center;
}

button {
  box-shadow: none !important;
}

.sys {
  line-height: 28px;
}

.pic0 {
  width: 95%;
  height: 500px;
  display: block;
}

.fit-image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.tb {
  border: 1px solid grey;
  margin: 2px;
  opacity: 0.4;
  cursor: pointer;
}

.tb-active {
  opacity: 1;
}

.thumbnail-img {
  width: 60px;
  height: 50px;
}

img {
  background-repeat: no-repeat;
}

.other {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product-title {
  color: black;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
}

.product-description {
  color: #8c97a5;
  font-weight: normal;
  font-size: 0.9rem;
}

p {
  color: black;
  font-size: 0.9rem;
  line-height: 28px;
}

h1 {
  width: 100%;
  height: 1px;
  margin-top: 0.8rem;
  background-color: #b6bbc0;
}

h5 {
  color: black;
  font-weight: bolder;
}

.buy {
  background-color: #ff3a37;
  color: white;
  font-weight: bold;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.buy:hover {
  background-color: #ff2824;
  -webkit-transform: translateY(-0.5px);
  -ms-transform: translateY(-0.5px);
  transform: translateY(-0.5px);
}

li {
  font-weight: normal;
  text-align: justify;
  font-size: 0.9rem;
  color: #8c97a5;
}

h6 {
  font-size: 1.2rem;
  color: black;
}

@media only screen and (max-width: 575.6px) {
  ul {
    padding: 0 23px 0 20px;
  }
}

@media (max-width: 1400px) {
  .pic0 {
    width: 85%;
    height: 430px;
    display: block;
  }
  .mainSection {
    width: 80%;
    align-content: center;
  }
}

@media (max-width: 767px) {
  .pic0 {
    width: 90%;
    height: 300px;
    display: block;
  }
  .product-title {
    color: black;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 700;
  }
  .mainSection {
    width: 80%;
    align-content: center;
  }
}

@media (max-width: 576px) {
  .pic0 {
    width: 100%;
    height: 230px;
    display: block;
  }
  .product-title {
    color: black;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
  }
  .mainSection {
    width: 98%;
    align-content: center;
  }
}

.feature-title {
  color: black;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
}
