<app-loader *ngIf="isLoading"></app-loader>

<section *ngIf="!isLoading" class="productDetails" id="productDetails">
  <div class="container-fluid py-5 mt-3 mainSection">
    <div class="row">
      <div class="col-xl-7">
        <div class="row py-2">
          <img class="pic0 mx-auto d-block image-responsive" [src]="image" />
        </div>
        <div class="row other">
          <div>
            <div class="d-flex flex-row thumbnails pt-3">
              <div
                (click)="onHoverImage(i, 'click')"
                class="tb tb-active"
                (mouseenter)="onHoverImage(i, 'hover')"
                *ngFor="let img of imagesList; let i = index"
              >
                <img class="thumbnail-img fit-image" [src]="img" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5 pd-lg-5 pt-1 pb-5">
        <h3 class="product-title">
          {{ product?.brand }}
        </h3>

        <p class="product-description text-justify">
          {{ product?.shirtType }}
        </p>
        <p class="product-description text-justify">
          {{ product?.careInstruction }}
        </p>
        <p class="product-description text-justify">
          {{ product?.sleeveType }}
        </p>

        <div class="row justify-content-center align-items-center mt-4">
          <div class="col-4">
            <p class="sys">
              Shirt Size :
            </p>
          </div>
          <div class="col-8">
            <button
              *ngFor="let shirtSize of product?.shirtSize; let i = index"
              [ngStyle]="{
                'background-color':
                  selectedShirtSize === shirtSize.size ? '#D3D3D3' : ''
              }"
              type="button"
              class="btn btn-circular ml-2"
              style="border-color: black; font-weight: bold; color: black;"
              (click)="getSelectedShirtSize(i)"
            >
              {{ shirtSize.size }}
            </button>
          </div>
        </div>

        <h1 class="container"></h1>

        <div class="row py-3">
          <div class="col-6">
            <h5>Product Price :</h5>
          </div>
          <div class="col-6">
            <h5 class="float-right">
              {{ product?.price | currency }}
            </h5>
          </div>
        </div>

        <div class="row mx-auto">
          <button
            class="btn buy btn-block"
            [disabled]="!selectedShirtSize"
            (click)="addToCart()"
          >
            <i class="fa fa-shopping-bag"></i>
            ADD TO BAG
          </button>
        </div>

        <div class="row mx-auto mt-2">
          <button class="btn buy btn-block" (click)="triggerModal()">
            <i class="fa fa-shopping-bag"></i>
            GO TO BAG
          </button>
        </div>

        <div class="row mt-5 pr-3">
          <h5 class="feature-title pl-4">Features:</h5>
          <ul style="list-style-type: square;">
            <li>{{ product?.sizeChart }}</li>
            <li>{{ product?.shirtFabric }}</li>
            <li>{{ product?.detailedInfo }}</li>
            <li>{{ product?.chartRefer }}</li>
          </ul>
        </div>
      </div>
    </div>

    <h1 class="container-fluid mb-5"></h1>
    <h6>Product Information</h6>
    <table class="table table-bordered mt-3">
      <tbody>
        <tr>
          <td
            style="
              color: black;
              font-size: 0.9rem;
              font-weight: 500;
              background-color: rgb(243, 241, 241);
            "
          >
            Shirt Type
          </td>
          <td style="color: rgba(94, 94, 94, 0.733); font-size: 0.9rem;">
            {{ product?.shirtType }}
          </td>
        </tr>
        <tr>
          <td
            style="
              color: black;
              font-size: 0.9rem;
              font-weight: 500;
              background-color: rgb(243, 241, 241);
            "
          >
            Clothes Fabric
          </td>
          <td style="color: rgba(94, 94, 94, 0.733); font-size: 0.9rem;">
            {{ product?.detailedInfo }}
          </td>
        </tr>
        <tr>
          <td
            style="
              color: black;
              font-size: 0.9rem;
              font-weight: 500;
              background-color: rgb(243, 241, 241);
            "
          >
            Size Chart
          </td>
          <td style="color: rgba(94, 94, 94, 0.733); font-size: 0.9rem;">
            {{ product?.sizeChart }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
