<!-- <div class="cart-item mb-5" *ngFor="let cartItem of cartItemsDetailed">
  {{ cartItem?.product.name }}
  <h3> {{ cartItem?.productDetails?.size }}</h3>
  <h3> {{ cartItem?.productDetails?.quantity }}</h3>
  <button
>Delete</button>
</div> -->

<button
  type="button"
  id="hiddenBtn"
  class="btn"
  data-toggle="modal"
  data-target="#exampleModal"
  [hidden]="true"
></button>

<div
  class="modal fade"
  id="exampleModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  data-keyboard="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div
            class="cart-item mb-5"
            *ngFor="let cartItem of cartItemsDetailed"
          >
            <h2>{{ cartItem?.product?.name }}</h2>
            <button (click)="deleteCartItem(cartItem)">Delete</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
