.navbar {
  background: #ff3a37 !important;
}

.gomet {
  color: #ffffff !important;
}

.fa-shopping-cart {
  font-size: 30px !important;
  color: #ffffff !important;
}

.badge {
  position: absolute;
  top: 0.4em;
  right: 1.9%;
  font-size: 11px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  background-color: white;
  border: 2px solid white;
  color: black;
  text-align: center;
}
