<nav class="navbar navbar-expand-lg navbar">
  <div class="container-fluid d-flex">
    <a routerLink="/products-list" class="gocomet navbar-brand">GoComet Shop</a>

    <div class="justify-content-end d-flex align-items-center">
      <div>
        <a class="navbar-brand">
          <i class="fa fa-user-circle"></i>
        </a>
      </div>
      <div routerLink="/wishlist">
        <a class="navbar-brand">
          <i class="fa fa-heart"></i>
        </a>
      </div>
      <div (click)="triggerModal()">
        <a class="navbar-brand">
          <i class="fa fa-shopping-bag"></i>
        </a>
        <span class="badge">{{ cartCount }}</span>
      </div>
    </div>
  </div>
</nav>
